<div class="col-md-4 col-sm-6 col-lg-4 flt-itm first1">
  <div class="gallery-box">
    <img src="<%= asset_path 'resource/gallery2-1.jpg' %>" alt="" class="border border-light"/>
    <div class="wdgt-opt">
        <span class="wdgt-opt-btn">
            <i class="ion-android-more-vertical"></i>
        </span>
        <div class="wdgt-opt-lst brd-rd5">
            <a class="delt-wdgt" href="#" title="">Delete</a>
            <a class="expnd-wdgt" href="#" title="">Download</a>
            <a class="refrsh-wdgt" href="#" title="">----</a>
        </div>
    </div>
    <div class="wdgt-ldr">
        <div class="ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
            
    <div class="gallery-info">
      <h2>Charity Fundraise</h2>
      <span class="cate">
        <a href="#" title="">first1</a>,
        <a href="#" title="">tt</a>,
        <a href="#" title="">Nature</a>
      </span>
      <span class="lightbox">
        <a href="images/resource/gallery2-1.jpg" title="">
          <i class="fa fa-search"></i>
        </a>
      </span>
    </div>
  </div>
</div>