@import 'icons.min';

/*===== Plugin Stylesheets Import =====*/
@import 'animate';
@import 'slick';
@import 'select2.min';
@import 'tether.min';
@import 'jquery.circliful';
@import 'fullcalendar.min';
@import 'betterweather.min';
@import 'jqvmap.min';
@import 'jquery.bootstrap-touchspin.min';
@import 'form-validator.min';
@import 'toggle-switch';
@import 'CalcSS3';
@import 'loaders.min';
@import 'ion.rangeSlider';
@import 'ion.rangeSlider.skinModern';
// ===== End Plugin StyleSheet Import =====


@import 'main';
@import 'responsive';
@import 'color-schemes/color';
@import 'color-schemes/color1';
@import 'color-schemes/color2';
@import 'color-schemes/color4';
@import 'color-schemes/color5';